/*------------------------------ ОБНУЛЕНИЕ--------------------------------- */

* {
	padding: 0px;
	margin: 0px;
	border: none;
}

*,
*::before,
*::after {
	box-sizing: border-box;
}
html, body {
    width: 100%;
    height: 100%;
    font-family: "Poppins", Helvetica, sans-serif;
    color: var(--primary-color);
}

a, a:link, a:visited  {
    text-decoration: none;
}

a:hover  {
    text-decoration: none;
}

button {
    background-color: transparent;
    cursor: pointer;

  }


ul, ul li {
	list-style: none;
}

img {
    display: block;
}



:root {
    --primary-color: #22343D;
    --second-color: #017A6B;
}

.wrapper {
    min-height: 100%;
    overflow: hidden;
}

.container {
    width: 100%;
    max-width: 1140px;
    margin: 0 auto;
    padding: 0 15px;
}

.button {
    padding: 15px 32px;

    border-radius: 4px;

    font-size: 16px;
    font-weight: 600;
    line-height: 24px;

    background-color: var(--second-color);
    color: #fff;
}

.title {
    font-size: 40px;
    font-weight: 700;
    line-height: 60px;
}

.article {
    text-align: center;
    margin: 0 0 40px 0;
}

.article-subtitle {
    font-size: 16px;
    font-weight: 600;
    line-height: 24px;
}

.article-title {
    margin: 8px 0 25px;
}

.article-text {
    font-size: 16px;
}

.article-subtext {
    margin: 10px 0 0 0;
    font-size: 16px;
    font-weight: 500;
    line-height: 26px;


}



/* HEADER STYLE */

.header {
    position: relative;
}

.header_row {

    display: flex;
    align-items: center;
    justify-content: space-between;

    padding: 22px 0;
    margin-bottom: 90px;
}


.logo_row {
    display: flex;
    align-items: center;
    gap: 16px;
}

.logo_link {
    font-weight: 700;
    font-size: 30px;
    line-height: 28px;
    color: #173A56;
}

.logo_image {
    display: inline; 
    vertical-align: middle; 
    width: 40px;
    max-width: 100%;
    height: auto;    
}

.logo_name {
}

.nav_theme-button {
    width: 32px;
    max-width: 100%;
    height: auto;
}

.nav-desktop {
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 24px;
    font-size: 16px;
    line-height: 28px;
}



.burger {
    display: none;
    cursor: pointer;
    z-index: 1000;
}

.burger-line {
    width: 25px;
    height: 3px;

    margin: 5px 0;

    background-color: var(--primary-color);
    transition: 0.3s;
}


.mobile-menu {
    position: fixed;

    right: -100%;
    top: 0;

    width: 250px;
    height: 100vh;
    padding: 80px 30px;
    box-shadow: -2px 0 10px rgba(0,0,0,0.1);
    background: #fff;

    z-index: 999;

    transition: 0.3s;
}

.mobile-menu.active {
    right: 0;
}

.nav-mobile {
    display: flex;
    flex-direction: column;
    gap: 35px;
}
.nav-mobile-list {
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    gap: 35px;

}

.nav-mobile-list a {
    color: var(--primary-color);
    
    text-align: right;
    font-size: 18px;

    transition: 0.3s;
}

.nav-mobile a:hover {
    transform: scale(1.05);
}


.nav_list {
    display: flex;
    gap: 30px;
}


.nav_list-item a {
    
    color: var(--primary-color);
    transition: font-weight 0.1s ease-in-out;
}

.nav_list-item a:hover {
    font-weight: 600;
    letter-spacing: 0.9
}

.nav_auth {
    display: flex;
    align-items: center;
    gap: 24px;
}

.nav_button {

    border: 1px solid;
    padding: 9px 24px;
    border-radius: 4px;

    font-size: 16px;
    font-weight: 600;
    line-height: 24px;

    transition: all 0.2s ease-in;
    
}

.nav_button:hover {
    transform: scale(1.03);

}

.nav_button-mobile {
    text-align: center;
    display: inline-block;
    width: 130px;
    border: 1px solid;
    padding: 9px 15px;
    border-radius: 4px;

    font-size: 16px;
    font-weight: 600;
    line-height: 24px;


    
}




.nav-mobile_auth{

    display: flex;
    flex-direction: column;
    gap: 20px;
    align-items: flex-end;
}

.sign-in {
    background-color: #fff;
    border-color: #BCD0E5;
    color: var(--primary-color);
}

.sign-up {
    color: #fff;
    background-color: var(--second-color);

}










/* START PAGE STYLE */

.start-page {
}

.start-page_row {
    display: flex;
    align-items: center;
    justify-content: center;

    gap: 84px;
}


.start-page_column {
    min-width: 352px;
}



.start-page_title {
    font-size: 40px;
    font-weight: 700;
    line-height: 60px;
}
.start-page_text {
    margin: 18px 0 45px;
}
.start-page_buttons {
    display: flex;
    gap: 30px;
}

.start-page_row img{
    max-width: 550px;
    width: 100%;
}


.button--primary {
}

a.button--second {
    position: relative;
    padding-left: 28px;

    background-color: #fff;
    color: var(--second-color);
    text-decoration: underline;
}

.button--second::before {
    content: url(./img/play.svg);

    width: 20px;
    height: 20px;

    position: absolute;
    left: 0;
    top: 30%;

}





/* PRODUCT STYLE */

.product {
    margin-top: 90px;
    padding-bottom: 50px;
    position: relative;
    z-index: 166;

    background-image: url(./img/bg_product.svg);
    background-size: cover;
    background-position: bottom;
}

.product_column {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.product_title {
    text-align: center;

}
.product_row {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 30px;

    margin: 50px 0;
}
.product_row img {
    max-width: 100%;
    height: 61px;
    object-fit: cover;
}

.product_func {
    width: 100%;
    max-width: 255px;
}
.product_func-title {
    margin: 18px 0 13px;

    font-size: 22px;
    font-weight: 600;
    line-height: 33px;
}

.product_func-text {
    font-size: 16px;
    font-weight: 400;
    line-height: 26px;
}


.product_button {
}

.product_background {
    
}




/* MANAGMENT STYLE */

.managment {
    margin: 90px 0 0 0;
}
.container {
}
.managment_row {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 84px;
}

.managment_row img {
    width: 610px;
    max-width: 100%;
    height: auto;
    object-fit: cover;

}

.managment_column {



}
.managment_subtitle {

}
.managment_title {

}

.managment_text {

}

.managment_text h3{
    font-weight: 600;
    margin-bottom: 12px;

}


.accessory {
    margin: 30px 0 25px;
}
.alterationists {
}




/* CUSTOMER STYLE */

.customer {
    margin: 90px 0 0 0;
}

.customer_row {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 84px;
}
.customer_column {
    width: 100%;
}

.customer_row img {
    width: 540px;
    max-width: 100%;
    height: auto;
    object-fit: cover;
}

.customer_subtitle {
}

.customer_title {
}

.customer_text {

}
.customer_list {
    margin: 30px 0 0 0;
}
.customer_list-item {
    padding-left: 65px;
}
.customer_list-item__1 {
    position: relative;
     margin-right: 65px;
}
.customer_list-item__2 {
    position: relative;
    margin: 25px 0;
}
.customer_list-item__3 {
    position: relative;
}

.customer_list-item__1::before {
    content: "";
    position: absolute;
    left: 0;
    top: 10%;
    width: 35px;
    height: 35px;
    background-image: url(./img/icon-list1.svg);


}

.customer_list-item__2::before {
    content: "";
    position: absolute;
    left: 0;
    top: 10%;
    width: 35px;
    height: 35px;
    background-image: url(./img/icon-list2.svg);


}
.customer_list-item__3::before {
    content: "";
    position: absolute;
    left: 0;
    top: 10%;
    width: 35px;
    height: 35px;
    background-image: url(./img/icon-list3.svg);

}




/* COLLABORATIVE STYLE */

.collaborative {
    margin: 90px 0 0 0 ;
}

.collaborative_row {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 84px;
}

.collaborative_row img{
    width: 100%;
    max-width: 540px;
    object-fit: cover;
}

.collaborative_column {
}

.collaborative_subtitle {
}

.title {
}
.collaborative_title {
}

.collaborative_text {
}

.collaborative_text h3{
    font-weight: 600;
    margin-bottom: 12px;

}





/* PROCESS STYLE */

.process {
    margin-top: 90px;
    padding-top: 50px;
    position: relative;
    z-index: 1;
}

.process::after {
    z-index: -1;
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    content: "";
    transform: scaleY(-1);
    background-image: url(./img/bg_product.svg);
    background-size: cover;
    background-position: bottom;
}


.process_column {
    display: flex;
    flex-direction: column;
    align-items: center;    


}
.process_article {
    text-align: center;
}

.process_subtext {
    margin: 25px 0 40px 0;

    width: 100%;
    max-width: 542px;

    text-align: center;
}

.title {
}
.process_title {
}
.process_profi {
    display: flex;
    align-items: center;
    gap: 100px;

}





/* PROFI STYLE */

.profi {

}


.profi_column {
    
}

.profi_item:first-child {
    margin-bottom: 25px;
}

.profi_column__1 {
    align-self: flex-start;
}

.profi_item {
    display: flex;

    gap: 10px;
}

.profi_item img {
    width: 98px;
    max-width: 100%;
    height: auto;
}

.profi_item__left {

}

.profi_item__left img {
    border: 2px solid #FF0909;
    border-radius: 50%;
    margin-right: 18px;

    width: 98px;
    height: 98px;
}


.profi_item__right {

}



.profi_item__right img {
    border: 2px solid #FF0909;
    border-radius: 50%;
    margin-left: 18px;

    max-width: 98px;
    width: 100%;
    height: 100%;
}

.profi_column__2 {
    align-self: flex-end;
}

.speech-bubble {
    position: relative;
    display: flex;
    align-items: center; /* Центрируем текст по вертикали */
    justify-content: center; /* Центрируем текст по горизонтали */
    
    padding: 13px 22px;
    margin-top: 13px;
    max-width: 285px;
    height: 100%;
 
    background-color: #fff; 
    border-radius: 25px; 
    box-shadow: 2px 2px 10px 0px #173A5626;
    font-size: 16px;
    color: #333333; 

    text-align: center; /* Центрирует текст */
    
    word-wrap: break-word; /* Переносит слова */
    overflow-wrap: break-word; /* Аналогично, но для длинных слов */
    hyphens: auto; /* Добавляет перенос слов */

    
}




.speech-bubble__left::before {
    content: '';
    position: absolute;
    bottom: -20px; 
    left: 20px; 
    width: 8px;
    height: 8px;
    background-color: #ffffff;
    border-radius: 50%;
    box-shadow: 2px 2px 10px #173A5626;
}

.speech-bubble__left::after {
    content: '';
    position: absolute;
    bottom: -6px; 
    left: 35px; 
    width: 15px;
    height: 15px;
    background-color: #ffffff;
    border-radius: 50%;
    box-shadow: 0px 8px 8px #173A5626;

}


.speech-bubble__right::before {
    content: '';
    position: absolute;
    bottom: -20px; 
    right: 20px; 
    width: 8px;
    height: 8px;
    background-color: #ffffff;
    border-radius: 50%;
    box-shadow: 2px 2px 10px #173A5626;
}

.speech-bubble__right::after {
    content: '';
    position: absolute;
    bottom: -6px; 
    right: 35px; 
    width: 15px;
    height: 15px;
    background-color: #ffffff;
    border-radius: 50%;
    box-shadow: 0px 8px 8px #173A5626;

}


.process_button {
    margin-top: 50px;
}




/* STRATEGIES STYLE */

.strategies {
    padding-top: 90px;
}

.strategies_column {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.strategies_article {
}

.strategies_title {
}
.article-subtext {
}
.strategies_subtext {
}

.strategies_row {
    display: flex;
    align-items: center;
    gap: 30px;
}

.strategies_row a{
    color: var(--primary-color);
}

.strategies_item {
    display: flex;
    flex-direction: column;
    align-items: start;

    width: 100%;
    max-width: 350px;
    height: 100%;

    padding: 0 0 40px 0;

    text-decoration: none;
    border: 1px solid #DEDEDE;
    border-radius: 8px;
    cursor: pointer;
    
}


.strategies_item:hover .strategies_name {
    color: var(--second-color);
}

.strategies_item img{
    width: 350px;
    max-width: 100%;
    height: auto;
}

.strategies_info {
    margin: 24px 27px 12px;

    font-size: 16px;
    line-height: 28px;
}

.strategies_info span{
    font-weight: 700;
}

.strategies_name {
    margin: 0 27px;

    font-size: 24px;
    font-weight: 700;
    line-height: 40px;
}



.mobile-strategies {
    display: none;
}
 
 .strategies_swiper {

    margin: auto;
}
.strategies_swiper-wrapper {
    flex-wrap: nowrap;
    display: flex;
}

.strategies_swiper-slide {
    width: auto;
    flex: 0 0 350px;
}

.strategies_swiper-slide a {
    color: var(--primary-color);
}

.strategies_swiper-slide:hover .strategies_name {
    color: var(--second-color);
}




/* PRICE STYLE */

.price {
    margin-top: 90px;
    position: relative;
}

.price_column {
}

.price_article {
}

.price_title {
}

.price_subtext {
}
.price_row {
    display: flex;

    gap: 72px  ;
}
.price_item {
    display: flex;
    flex-direction: column;
    align-items: center;

    padding: 32px 67px 32px 68px;

    width: 100%;
    max-width: 322px;

    
    font-family: Montserrat;
    box-shadow: 0px 2px 8px 0px #00000040;
    border-radius: 8px;
    cursor: pointer;

}

.price_item:hover {
    background-color: var(--second-color);
    color: #fff;
}

.price_item:hover  .price_sum, .price_item:hover .price_value  {
    color: #fff;

}

.price_item:hover .price_button {
    background-color: #fff;
    color: var(--second-color);
}

.price_item-text {
    display: flex;
    flex-direction: column;
    align-items: center;

    flex: 1;
}
.price_name {
    font-size: 24px;
    font-weight: 700;
    line-height: 40px;

}
.price_description {
    margin: 8px 0 16px 0;

    font-size: 16px;
    line-height: 40px;

}
.price_price {
    display: flex;
    align-items: center;
    gap: 7px;

    margin: 0 0 16px 0;



}

.price_sum {
    font-size: 76px;
    font-weight: 700;
    line-height: 100px;
    letter-spacing: 0.2px;
    color: var(--second-color);

}
.price_info {

}


.price_value {
    font-size: 24px;
    font-weight: 700;
    line-height: 30px;

    color: var(--second-color)
}

.price_period {
    font-size: 16px;
    line-height: 19px;
    width: 100%;
}

.price_conditions-list {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 16px;

    font-size: 16px;
    font-weight: 500;
    line-height: 22px;
    letter-spacing: 0.2px;

}
.price_conditions-item {
}

.price_button {
    padding: 11px 19px;
    margin: 30px 0 0 0;
    border-radius: 8px;
}


.mobile-price {
    display: none;
}

.price_swiper {
    margin: auto;
}

.price_swiper-wrapper {

    flex-wrap: nowrap;
    display: flex;

}

.price_swiper-slide {
    flex: 0 0 325px;
}





/* CLIENTS STYLE */

.clients {
    margin-top: 90px;
}

.clients_column {
}

.clients_article {
}

.clients_title {
}

.clients_subtext {
}
.clients_row {
    display: flex;

    gap: 64px;
}
.clients_item {
    width: 100%;
    max-width: 327px;

    padding: 28px 26px;

    border: 1px solid #DEDEDE;
    border-radius: 5px;

}

.clients_item img {
    width: 106px;
    max-width: 100%;
    height: auto;
}

.clients_client img {
    width: 50px;
    max-width: 100%;
    height: auto;
}

.clients_review {
    margin: 16px 0;


    
}
.clients_client {
    display: flex;
    align-items: center;
    gap: 14px;

}

.clients_client img {
    border: 1px solid #BDBDBD;
    border-radius: 50%;
    width: 50px;
    height: 50px;

}

.clients_client-info {
}
.clients_client-name {
    font-size: 16px;
    font-weight: 600;
    line-height: 24px;

    color: var(--second-color);

}

.clients_client-work {
    font-size: 14px;
    font-weight: 500;
    line-height: 24px;
}

.mobile-clients {
    display: none;
}

.clients_swiper {
    margin: auto;
}

.clients_swiper-wrapper {
    display: flex;
    flex-wrap: nowrap;
}

.clients_swiper-slide {
    flex: 0 0 325px;
}

/* BANNER STYLE */

.banner {
    margin-top: 90px;

}

.banner_row {
    margin: 0 auto;
    padding: 5px 51px;

    display: flex;
    align-items: center;
    justify-content: space-between;

    width: 100%;
    max-width: 968px;

    background-color: var(--second-color);
    border-radius: 32px ;

}

.banner_row img{
    max-width: 350px;
    object-fit: cover;

    
}


.banner_info {

}

.banner_text {
    margin-bottom: 46px;

    font-size: 32px;
    font-weight: 600;
    line-height: 48px;
    color: #fff;

}


.banner_button {
    width: 100%;
    max-width: 150px;
    max-height: 100%;
    vertical-align: middle;

    font-size: 20px;
    font-weight: 600;
    
    border-radius: 8px;
    color: var(--second-color);
    background-color: #fff;
}




/* FOOTER STYLE */

.footer {
    margin-top: 90px;
    padding-bottom: 30px;
}

.footer_columns {
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.footer_column {
    display: flex;
    flex-direction: column;
    gap: 10px;
    max-width: 325px;
}

.footer_column:nth-child(4) {
    width: 100%;

    display: flex;
    flex-direction: column;
    align-items: start;
}

.footer_row_grid{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-template-areas: 
        "logo resourses stuff sign";
    column-gap: 15px;
}


.footer_row {
    display: flex;
   justify-content: space-between;

   margin-bottom: 10px;
}

.footer_column__logo {
    grid-area: logo;
}

.footer_column__resourses {
    grid-area: resourses;
}

.footer_column__stuff {
    grid-area: stuff;
}

.footer_column__sign {
    grid-area: sign;
}

.logo_link {
}
.footer_logo {
    display: flex;
    align-items: center;
    gap: 16px;
}
.logo_image {
    max-width: 40px;
    height: 100%;
}
.logo_name {
}
.footer_social-row {
    display: flex;
    align-items: center;
    gap: 16px;

    margin-top: 18px;
}

.footer_social-row img{
    width: 40px;
    max-width: 100%;
    height: auto;
}

.footer_name-list {
    font-size: 20px;
    font-weight: 500;
    line-height: 30px;
}
.footer_resourses-list {
    margin-top: 8px;
}
.resourses-list-item {
    font-size: 16px;
    line-height: 35px;

}


.footer_text {
    font-size: 20px;
    font-weight: 500;    

}
.footer_button-number {
    display: flex;
    align-items: center;
    gap: 10px;

    min-width: 100%;

    padding: 10px 0 10px 12px;
    margin: 30px 0 25px 0;

    font-size: 16px;
    line-height: 28px;
    color: var(--second-color);

    border: 1px solid #BCD0E5;
    border-radius: 4px;
}


.footer_button-sign {
    width: 100%;
    max-width: 131px;
    height: 100%;

    padding: 7px 15px;

    font-size: 16px;
    font-weight: 700;
    line-height: 24px;
    text-align: center;

}
.footer_made {
    text-align: center;
}



  @media (max-width: 1024px) {

    .container {
        padding: 0 20px;
        max-width: 1130px;
    }

    .nav-desktop {
      gap: 20px; /* Уменьшаем отступы между пунктами меню */

    }
  
    .nav_auth {
      gap: 20px; /* Уменьшаем отступы между кнопками */
    }
  
    .nav_list {
        gap: 20px; /* Уменьшаем отступы между пунктами меню */
    }

    .nav_button {
        padding: 8px 16px;
    }

    .logo_row {
        font-size: 28px;
    }

    .logo_image {
        width: 100%;
        height: 28px;
    }

    .start-page_row {
        gap: 25px;
    }

    .button {
        padding: 12px 24px;

        line-height: 22px;
    }

    .product_row {
        grid-template-columns: repeat(2, 1fr);
        gap: 50px;
    }

    .product_func {
       display: flex;
       flex-direction: column;
       align-items: center;

       text-align: center;
    }

    .product_func img {
        width: 54px;
        max-width: 100%;
        height: auto;
    }



    .customer_row {
        gap: 42px;
    }

    .collaborative_row {
        gap: 20px;
    }

    .strategies_row, .price_row, .clients_row {
        display: none;
    }

    .mobile-strategies, .mobile-price, .mobile-clients {
       display: block;
    }

    .price_sum {
        font-size: 56px;
        line-height: 80px;
    }


    .banner_row {
        padding: 30px; 
    }

    .banner_text {
        font-size: 28px; 
        line-height: 36px; 
        margin-bottom: 30px; 
    }

    .banner_row img {
        max-width: 250px; 
    }
    

    .footer_columns {
        gap: 15px;
    }


    .footer_row_grid {

        grid-template-areas: 
        "logo logo logo logo"
        "resourses stuff sign sign";
        row-gap: 30px;
    }

    .footer_button-number {
        justify-content: center;
        margin: 15px 0 10px 0;
    }


    .footer_button-sign {
        max-width: 100%;
    }


  }

@media (max-width: 945px) {
    


    .nav-desktop {
        display: none;
    }
    
    .burger {
        display: block;
    }

    .burger.active .burger-line:nth-child(1) {
        transform: rotate(45deg) translate(5px, 5px);
    } 

    .burger.active .burger-line:nth-child(2) {
        opacity: 0;
    }

    .burger.active .burger-line:nth-child(3) {
        transform: rotate(-45deg) translate(6px, -6px);
    } 


    .start-page_row {
        flex-wrap: wrap;

        max-width: 800px;
    }

    .product_row {
        grid-template-columns: repeat(1, 1fr);
        gap: 20px;
    }

    .managment_row {
        flex-wrap: wrap;
    }

    .customer_row {
        flex-wrap: wrap-reverse; 
    }

    .collaborative_row {
        flex-wrap: wrap;
    }

    .process_profi {
        min-width: 80%;
        flex-direction: column;
        gap: 50px;
    
    }

    .profi_column__1 {
        align-self: flex-start;
    }

    .profi_column__2 {
        align-self: flex-end;
    }

    .strategies_swiper-slide {
        flex: 0 0 300px; /* Уменьшаем ширину карточек на мобильных */
    }



    .banner_row {
        flex-direction: column; 
        padding: 20px; 
        text-align: center; 
    }

    .banner_info {
        margin-bottom: 20px; 
    }

    .banner_text {
        font-size: 20px; /* Уменьшаем размер текста */
        line-height: 28px; /* Уменьшаем высоту строки */
        margin-bottom: 20px; /* Уменьшаем отступ */
    }

    .banner_button {
        max-width: 80%; /* Кнопка занимает всю ширину */
        font-size: 18px;
    }

    .banner_row img {
        max-width: 100% ;
    }


}

@media (max-width: 640px) {
    .footer_row_grid {
        grid-template-columns: 1fr;
        grid-template-areas: 
        "logo"
        "resourses"
        "stuff"
        "sign";
    }
    
}


/* ПЛАВНОЕ ПОЯВЛЕНИЕ */

.fade-in {
    opacity: 1;
    transform: translateY(0);
    transition: opacity 0.8s ease, transform 0.8s ease;
}
section {
    opacity: 0;
    transform: translateY(40px);
}


.button {
    transition: all 0.3s ease;
}

.button:hover {
    transform: scale(1.05);
}

.button:active {
    transform: scale(0.95);

}


